<div class="container mt-5" style="text-align: center;">
  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Orders Placed Successfully!</h4>
    <p>Your orders have been successfully placed. Thank you for shopping with
      us!</p>
    <hr />
    <p class="mb-0">Click the button below to view your orders.</p>
  </div>
  <a href="/view-orders" class="btn btn-primary">View Orders</a>
</div>