body {
  text-transform: capitalize;
}



.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.delivery-details {
  background-color: #ffffff;
  padding: 20px;
}
.total-amount {
  background-color: #ffffff;
  padding: 20px;
}
.payment-method {
  padding-left: 35px;
  text-align: left;
}